[Unit]
Description="LVD detect service"
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/ed-lvd/lvd-monitor

[Install]
WantedBy=multi-user.target
