[Unit]
Description="LVD detect service"
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/ed-lvd/lvd-monitor.py

[Install]
WantedBy=multi-user.target
