Source: ed-lvd
Section: unknown
Priority: optional
Maintainer: EDATEC <support@edatec.cn>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: http://www.eda-iot.com/


Package: ed-lvd
Architecture: all
Depends: python3-libgpiod, gpiod
Description: LVD detect service
